@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  color: #fff;
  background-color: #111;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.blog-card {
  display: block;
}

.blog-card__img {
  padding-top: 66.56%;
  position: relative;
}

.blog-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-card__body {
  color: #333;
  background-color: #fff;
  padding: 4px 24px 16px;
  padding: 0.25rem 1.5rem 1rem;
}
.blog-card__body:hover {
  color: #fff;
  background-color: #333;
}
.blog-card__body:hover:not(.blog-card__category) {
  color: #fff;
  background-color: #333;
}

.blog-card__title {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.94;
  font-weight: 500;
  letter-spacing: 0.048em;
}

.blog-card__text {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.85;
  margin-top: 4px;
  margin-top: 0.25rem;
  letter-spacing: 0.055em;
}
@media screen and (min-width: 768px) {
  .blog-card__text {
    margin-top: 0.3125rem;
  }
}

.blog-card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .blog-card__meta {
    margin-top: 0.6875rem;
  }
}

.blog-card__category,
.blog-card__date {
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.01em;
}

.blog-card__category {
  background-color: #FFEA2E;
  line-height: 1;
  padding: 5px;
  padding: 0.3125rem;
}

.btn {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #fff;
  border: 0.0625rem solid #fff;
  padding: 10px 114px;
  padding: 0.625rem 7.125rem;
  text-align: center;
  outline: none;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.btn span {
  position: relative;
  z-index: 3;
  color: #fff;
}

.btn:hover span {
  color: #333;
}

.bgleft::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s, -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.bgleft:hover:before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (min-width: 768px) {
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .card-list__item {
    max-width: calc(33.3333% - 1rem);
    width: 100%;
  }
}

.card-list__item + .card-list__item {
  margin-top: 23px;
  margin-top: 1.4375rem;
}
@media screen and (min-width: 768px) {
  .card-list__item + .card-list__item {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .card-list__item:nth-child(3n+1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .card-list__item:nth-child(n+4) {
    margin-top: 1.5rem;
  }
}

.copyright {
  line-height: 35px;
  line-height: 2.1875rem;
  letter-spacing: 0.04em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .copyright {
    text-align: center;
    margin-top: 4rem;
  }
}

.copyright small {
  font-size: 11px;
  font-size: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .copyright small {
    font-size: 0.9375rem;
  }
}

.drawer {
  position: relative;
  z-index: 300;
}

.js-drawer-open.open .drawer__icon-bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
  top: 0.5rem;
  background: #fff;
}
.js-drawer-open.open .drawer__icon-bar2 {
  display: none;
}
.js-drawer-open.open .drawer__icon-bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  top: 0.5rem;
  background: #fff;
}

.drawer__icon {
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  position: relative;
}

.drawer__icon-bar1,
.drawer__icon-bar2,
.drawer__icon-bar3 {
  position: absolute;
  width: 24px;
  width: 1.5rem;
  height: 2px;
  height: 0.125rem;
  background: #fff;
  border-radius: 2px;
  top: 0;
  left: 0;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.drawer__icon-bar1 {
  top: 0;
}

.drawer__icon-bar2 {
  top: 8px;
  top: 0.5rem;
}

.drawer__icon-bar3 {
  top: 16px;
  top: 1rem;
}

.footer {
  background-color: #111;
}

.footer__inner {
  margin-top: 40px;
  margin-top: 2.5rem;
  padding-left: 19px;
  padding-left: 1.1875rem;
  padding-right: 19px;
  padding-right: 1.1875rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1.5rem;
  }
}

.footer__logo {
  display: inline-block;
  z-index: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 4.375rem;
  }
}

.header {
  height: 50px;
  height: 3.125rem;
  background-color: rgba(0, 0, 0, .3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.change-color {
  background-color: #111;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  padding-left: 22px;
  padding-left: 1.375rem;
  padding-right: 22px;
  padding-right: 1.375rem;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.heading-right {
  position: relative;
  padding-top: 49px;
  padding-top: 3.0625rem;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .heading-right {
    font-size: 1.875rem;
  }
}

.heading-right span {
  position: relative;
  z-index: 2;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.heading-right::after {
  content: attr(date-en);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(249, 248, 113, .2);
  font-family: "Noto Serif JP", serif;
  font-size: 50px;
  font-size: 3.125rem;
  z-index: -1;
  font-weight: normal;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .heading-right::after {
    font-size: 6.875rem;
    top: -5%;
    left: 80%;
  }
}

.heading {
  max-width: 1100px;
  max-width: 68.75rem;
  width: 100%;
  margin: 0 auto;
}

.heading__title {
  position: relative;
  padding-top: 49px;
  padding-top: 3.0625rem;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .heading__title {
    font-size: 1.875rem;
  }
}

.heading__title span {
  position: relative;
  z-index: 2;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.heading__title::before {
  content: attr(date-en);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(249, 248, 113, .2);
  font-family: "Noto Serif JP", serif;
  font-size: 50px;
  font-size: 3.125rem;
  z-index: 1;
  font-weight: normal;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .heading__title::before {
    font-size: 6.875rem;
    top: 6%;
    left: 20%;
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .item__content {
    max-width: 31.875rem;
    width: 100%;
  }
}

.item__text-block {
  padding: 24px 20px;
  padding: 1.5rem 1.25rem;
}
@media screen and (min-width: 768px) {
  .item__text-block {
    padding: 0;
  }
}

.item__title {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  .item__title {
    text-align: left;
    font-size: 1.5625rem;
  }
}

.item__message {
  margin-top: 24px;
  margin-top: 1.5rem;
  letter-spacing: 0.13em;
  line-height: 1.45;
}
@media screen and (min-width: 768px) {
  .item__message {
    letter-spacing: 0.035em;
    line-height: 2.3;
    margin-top: 1.9375rem;
  }
}

.item__btn {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .item__btn {
    text-align: left;
    margin-top: 2.5625rem;
  }
}

.logo {
  width: 75px;
  width: 4.6875rem;
  padding-top: 8px;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 5.875rem;
  }
}

.logo__link {
  position: relative;
  z-index: 300;
}

.new-icon {
  position: relative;
}

.new-icon::before {
  content: "New";
  background-color: #FFBA6A;
  width: 60px;
  width: 3.75rem;
  height: 60px;
  height: 3.75rem;
  line-height: 2.1;
  letter-spacing: 0.057em;
  border-radius: 50%;
  color: #333;
  padding: 12px;
  padding: 0.75rem;
  position: absolute;
  top: -15px;
  top: -0.9375rem;
  left: -16px;
  left: -1rem;
  z-index: 300;
}

.pc-footer-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pc-footer-nav__item {
  line-height: 1.5;
  letter-spacing: 0.12em;
}
.pc-footer-nav__item:not(:first-child) {
  margin-left: 30px;
  margin-left: 1.875rem;
}

.pc-footer-nav__item a {
  display: block;
  position: relative;
}
.pc-footer-nav__item a::after {
  position: absolute;
  content: "";
  width: 70px;
  width: 4.375rem;
  height: 1px;
  height: 0.0625rem;
  bottom: -8px;
  bottom: -0.5rem;
  left: 0;
  background-color: #FFEA2E;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; /*変形の時間*/
}
.pc-footer-nav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

.pc-nav {
  height: inherit;
}

.pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pc-nav__item {
  height: inherit;
  padding: 0 16px;
  padding: 0 1rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .pc-nav__item {
    padding: 0 1.125rem;
  }
}

.pc-nav__item a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .pc-nav__item a {
    letter-spacing: 0.02em;
  }
}
.pc-nav__item a::after {
  position: absolute;
  content: "";
  width: 70px;
  width: 4.375rem;
  height: 1px;
  height: 0.0625rem;
  bottom: 8px;
  bottom: 0.5rem;
  background-color: #FFEA2E;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; /*変形の時間*/
}
.pc-nav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

.pc-nav__item--white {
  padding-right: 35px;
  padding-right: 2.1875rem;
  padding-left: 35px;
  padding-left: 2.1875rem;
  background-color: #fff;
  margin-left: 16px;
  margin-left: 1rem;
}

.pc-nav__item--white a {
  color: #333;
}

.sp-footer-nav__item {
  margin-top: 4px;
  margin-top: 0.25rem;
  line-height: 1.67;
  letter-spacing: 0.12em;
}

.sp-footer-nav__item a {
  display: block;
}

.sp-nav {
  background: #111;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.sp-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.sp-nav__items {
  padding: 210px 0;
  padding: 13.125rem 0;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
}

.sp-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
}
.sp-nav__item:not(:first-child) {
  margin-top: 31px;
  margin-top: 1.9375rem;
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

.to-top {
  max-width: 45px;
  max-width: 2.8125rem;
  width: 100%;
  position: fixed;
  bottom: 41px;
  bottom: 2.5625rem;
  right: 21px;
  right: 1.3125rem;
}
@media screen and (min-width: 768px) {
  .to-top {
    bottom: 2rem;
    right: 1.9375rem;
  }
}

.blog-wrap {
  margin-top: 70px;
  margin-top: 4.375rem;
}
@media screen and (min-width: 768px) {
  .blog-wrap {
    margin-top: 9.875rem;
  }
}

@media screen and (min-width: 768px) {
  .blog__heading::after {
    left: 84%;
  }
}

.blog__items {
  margin-top: 63px;
  margin-top: 3.9375rem;
}
@media screen and (min-width: 768px) {
  .blog__items {
    margin-top: 2.375rem;
  }
}

.blog__btn {
  text-align: center;
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .blog__btn {
    margin-top: 3rem;
  }
}

.contact-wrap {
  margin-top: 120px;
  margin-top: 7.5rem;
  background-color: #3D3D3D;
}
@media screen and (min-width: 768px) {
  .contact-wrap {
    margin-top: 9.25rem;
  }
}

.contact__inner {
  padding: 17px 19px 64px;
  padding: 1.0625rem 1.1875rem 4rem;
}
@media screen and (min-width: 768px) {
  .contact__inner {
    padding: 3.5625rem 1.1875rem 9.3125rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .contact__heading {
    padding-top: 5.375rem;
  }
}

@media screen and (min-width: 768px) {
  .contact__heading::before {
    font-size: 6.875rem;
    top: 0;
    left: 23%;
  }
}

.contact__body {
  margin-top: 20px;
  margin-top: 1.25rem;
}

.contact__message {
  line-height: 1.43;
  letter-spacing: 0.135em;
}

.contact__btn {
  margin-top: 45px;
  margin-top: 2.8125rem;
}
@media screen and (min-width: 768px) {
  .contact__btn {
    margin-top: 3.625rem;
  }
}

.content-wrap {
  margin-top: 100px;
  margin-top: 6.25rem;
}
@media screen and (min-width: 768px) {
  .content-wrap {
    margin-top: 8.8125rem;
  }
}

.content {
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  width: 94.6875%;
  height: 1212px;
  height: 75.75rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-image: linear-gradient(to right top, transparent 49.9%, #F9F871 50%, #F9F871 calc(50.1% + 1px), transparent calc(50.3% + 1px));
}

.content__inner {
  margin-top: 48px;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .content__inner {
    margin-top: 2.5625rem;
  }
}

.content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .content__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.content__item {
  background-color: #ffffff;
  display: block;
  position: relative;
  width: 50%;
}
@media screen and (min-width: 768px) {
  .content__item {
    width: 25%;
  }
}

.content__item::before {
  content: "";
  display: block;
  padding-top: 89.3%;
}
@media screen and (min-width: 768px) {
  .content__item::before {
    padding-top: 100%;
  }
}

.content__item img {
  width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content__item img:hover {
  opacity: 0.6;
}

.content__text {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .content__text {
    font-size: 1.5625rem;
  }
}

.mv {
  overflow: hidden;
}

.mv {
  width: 100%;
  height: 100vh;
  position: relative;
}

.mv__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 500;
  line-height: 1;
}

.mv__title,
.mv__subtitle {
  white-space: nowrap;
}

.mv__title {
  font-size: 28px;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .mv__title {
    font-size: 3.125rem;
  }
}

.mv__subtitle {
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  text-align: center;
  letter-spacing: 0.05em;
}

.news-inner {
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .news-inner {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 65.125rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.news-wrap {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .news-wrap {
    margin-top: 2.0625rem;
  }
}

@media screen and (min-width: 768px) {
  .news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news__date,
.news__category {
  display: inline-block;
}

.news__date {
  font-size: 14px;
  font-size: 0.875rem;
}

.news__category {
  margin-left: 26px;
  margin-left: 1.625rem;
  padding: 6px 21px;
  padding: 0.375rem 1.3125rem;
  border: 1px solid #fff;
  border: 0.0625rem solid #fff;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .news__category {
    margin-left: 2.5625rem;
  }
}

.news__text {
  margin-top: 17px;
  margin-top: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .news__text {
    margin-top: 0;
    margin-top: initial;
    margin-left: 3.8125rem;
  }
}

.news__title {
  line-height: 1.45;
}

.news__title:hover {
  text-decoration: underline;
}

.news__btn {
  margin-top: 26px;
  margin-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .news__btn {
    margin-top: 0;
    margin-top: initial;
    margin-left: 3.125rem;
  }
}

.news__btn-link {
  display: inline-block;
  padding: 9px 116px;
  padding: 0.5625rem 7.25rem;
  border: #fff;
  background-color: #333333;
  border: 1px solid #fff;
  border: 0.0625rem solid #fff;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .news__btn-link {
    padding: 0 1.625rem;
    background-color: #fff;
    color: #111;
  }
}

@media screen and (min-width: 768px) {
  .news__btn-text {
    font-size: 1rem;
  }
}

.news__btn-link:hover {
  background-color: #fff;
  color: #111;
}
@media screen and (min-width: 768px) {
  .news__btn-link:hover {
    background-color: #333;
    color: #fff;
  }
}

.overview-heading {
  position: relative;
  padding-top: 49px;
  padding-top: 3.0625rem;
  font-size: 20px;
  font-size: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .overview-heading {
    font-size: 1.875rem;
  }
}

.overview-heading span {
  position: relative;
  z-index: 2;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.overview-heading::before {
  content: attr(date-en);
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(249, 248, 113, .2);
  font-family: "Noto Serif JP", serif;
  font-size: 50px;
  font-size: 3.125rem;
  z-index: 1;
  font-weight: normal;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .overview-heading::before {
    font-size: 6.875rem;
    top: 0;
    left: 27%;
  }
}

.overview-wrap {
  margin-top: 90px;
  margin-top: 5.625rem;
}
@media screen and (min-width: 768px) {
  .overview-wrap {
    margin-top: 9.375rem;
  }
}

.overview {
  position: relative;
}

.overview::before {
  content: "";
  position: absolute;
  width: 94.6875%;
  height: 1212px;
  height: 75.75rem;
  position: absolute;
  top: -150px;
  top: -9.375rem;
  left: 0;
  z-index: -100;
  background-image: linear-gradient(to left top, transparent 49.9%, #F9F871 50%, #F9F871 calc(50.1% + 1px), transparent calc(50.3% + 1px));
}

@media screen and (min-width: 768px) {
  .overview__bg {
    background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(70%, #333), color-stop(26%, transparent), to(transparent));
    background: linear-gradient(90deg, #333 0%, #333 70%, transparent 26%, transparent 100%);
    padding: 5rem 0;
    margin-top: 2.0625rem;
  }
}

.overview__inner {
  margin-top: 46px;
  margin-top: 2.875rem;
}
@media screen and (min-width: 768px) {
  .overview__inner {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 68.75rem;
    margin: 0 auto;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .overview__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

@media screen and (min-width: 768px) {
  .overview__img {
    margin-left: 2rem;
    max-width: 34.8125rem;
    width: 100%;
  }
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -24px;
  bottom: -1.5rem;
}

.swiper-pagination-bullet {
  background: #C4C4C4;
}

.swiper-pagination-bullet-active {
  background: #F9F871;
}

.works-wrap {
  margin-top: 71px;
  margin-top: 4.4375rem;
}
@media screen and (min-width: 768px) {
  .works-wrap {
    margin-top: 9.375rem;
  }
}

@media screen and (min-width: 768px) {
  .work__bg {
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, transparent), color-stop(30%, #333), to(#333));
    background: linear-gradient(90deg, transparent 0%, transparent 30%, #333 30%, #333 100%);
    padding: 5rem 0;
    margin-top: 2.0625rem;
  }
}

.works__inner {
  margin-top: 46px;
  margin-top: 2.875rem;
}
@media screen and (min-width: 768px) {
  .works__inner {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 68.75rem;
    margin: 0 auto;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .works__swiper {
    width: 100%;
    max-width: 34.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .works__item {
    width: 100%;
    max-width: 34.8125rem;
  }
}

@media screen and (min-width: 768px) {
  .works__content {
    margin-left: 2rem;
  }
}

.works__images {
  position: relative;
}
/*# sourceMappingURL=styles.css.map */
