@charset "UTF-8";
body {
  font-family: "Noto Sans JP";
}

body {
  color: #fff;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.btn {
  display: inline-block;
  padding: 10px 114px;
  padding: 0.625rem 7.125rem;
  border: #fff;
  background-color: #333333;
  border: 1px solid #fff;
  border: 0.0625rem solid #fff;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.02em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1rem;
    padding: 0.1875rem 8.5rem;
    line-height: 3.375rem;
  }
}

.btn-text {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.btn-text:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-text:hover {
  color: #333333;
}

.btn-text:hover:before {
  width: 100%;
}

.copyright {
  line-height: 35px;
  line-height: 2.1875rem;
  letter-spacing: 0.12em;
}
@media screen and (min-width: 768px) {
  .copyright {
    text-align: center;
    padding: 2rem 1.625rem;
  }
}

.copyright small {
  font-size: 11px;
  font-size: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .copyright small {
    font-size: 0.9375rem;
  }
}

.drawer {
  position: relative;
  z-index: 300;
}

.js-drawer-open.open .drawer__icon-bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
  top: 0.5rem;
  background: #fff;
}
.js-drawer-open.open .drawer__icon-bar2 {
  display: none;
}
.js-drawer-open.open .drawer__icon-bar3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  top: 0.5rem;
  background: #fff;
}

.drawer__icon {
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  position: relative;
  margin-right: 12px;
  margin-right: 0.75rem;
}

.drawer__icon-bar1,
.drawer__icon-bar2,
.drawer__icon-bar3 {
  position: absolute;
  width: 24px;
  width: 1.5rem;
  height: 2px;
  height: 0.125rem;
  background: #fff;
  border-radius: 2px;
  top: 0;
  left: 0;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.drawer__icon-bar1 {
  top: 0;
}

.drawer__icon-bar2 {
  top: 8px;
  top: 0.5rem;
}

.drawer__icon-bar3 {
  top: 16px;
  top: 1rem;
}

.footer {
  background-color: #111;
}

.footer__inner {
  padding: 48px 0;
  padding: 3rem 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 2rem;
  }
}

.footer__logo {
  display: inline-block;
  z-index: auto;
  text-align: center;
}

.header {
  height: 50px;
  height: 3.125rem;
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  padding-left: 22px;
  padding-left: 1.375rem;
  padding-right: 22px;
  padding-right: 1.375rem;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1150px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.logo {
  width: 75px;
  width: 4.6875rem;
  padding-top: 8px;
  padding-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 5.875rem;
  }
}

.logo__link {
  position: relative;
  z-index: 300;
}

.pc-footerNav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pc-footerNav__item {
  line-height: 1.5;
  letter-spacing: 0.12em;
}
.pc-footerNav__item:not(:first-child) {
  margin-left: 32px;
  margin-left: 2rem;
}

.pc-footerNav__item a {
  display: block;
  position: relative;
}
.pc-footerNav__item a::after {
  position: absolute;
  content: "";
  width: 70px;
  width: 4.375rem;
  height: 1px;
  height: 0.0625rem;
  bottom: -8px;
  bottom: -0.5rem;
  left: 0;
  background-color: #FFEA2E;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; /*変形の時間*/
}
.pc-footerNav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

.pc-nav {
  height: inherit;
}

.pc-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pc-nav__item {
  height: inherit;
  padding: 0 16px;
  padding: 0 1rem;
  position: relative;
}

.pc-nav__item a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pc-nav__item a::after {
  position: absolute;
  content: "";
  width: 70px;
  width: 4.375rem;
  height: 1px;
  height: 0.0625rem;
  bottom: 8px;
  bottom: 0.5rem;
  background-color: #FFEA2E;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1); /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
  -webkit-transform-origin: left top;
          transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; /*変形の時間*/
}
.pc-nav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
}

.pc-nav__item--white {
  padding-right: 32px;
  padding-right: 2rem;
  background-color: #fff;
}

.pc-nav__item--white a {
  color: #333;
}

.sp-footerNav__item {
  margin-top: 8px;
  margin-top: 0.5rem;
  line-height: 1.5;
  letter-spacing: 0.12em;
}

.sp-footerNav__item a {
  display: block;
}

.sp-nav {
  background: #111;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}
.sp-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.sp-nav__items {
  padding: 210px 0;
  padding: 13.125rem 0;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
}

.sp-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
}
.sp-nav__item:not(:first-child) {
  margin-top: 31px;
  margin-top: 1.9375rem;
}

.test {
  font-size: 20px;
  font-size: 1.25rem;
  background-color: #111;
  color: #fff;
}

.to-top {
  max-width: 45px;
  max-width: 2.8125rem;
  width: 100%;
  position: fixed;
  bottom: 41px;
  bottom: 2.5625rem;
  right: 21px;
  right: 1.3125rem;
}

.mv {
  overflow: hidden;
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.slide-img img {
  display: block;
}
/*# sourceMappingURL=styles.css.map */
