@use "global" as *;

.blog__heading::after {
    @include mq("md"){
        left: 84%;
    }
}

.blog__items {
    margin-top: rem(63);

    @include mq("md") {
        margin-top: rem(38);
    }
}

.blog__btn {
    text-align: center;
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(48);
    }
}