@use "global" as *;

.works {
}

.works__inner {
    margin-top: rem(54);

    @include mq(md) {
        max-width: rem(1190);
        margin: 0 auto;
        padding-left: rem(20);
        padding-right: rem(20);
    }
}


.works__items {

    @include mq(md) {
        display: flex;
        align-items: center;
    }
}

.works__img {
    @include mq(md) {
        width: 100%;
        max-width: rem(557);
    }
}