@use "global" as *;

.work__bg {

    @include mq(md){
      background: linear-gradient(90deg, transparent 0%, transparent 25%, #333 26%, #333 100%);
      padding: rem(80) 0;
      margin-top: rem(33);
    }
  }

.works__inner {
    margin-top: rem(54);

    @include mq(md) {
        box-sizing: content-box;
        max-width: rem(1100);
        margin: 0 auto;
        padding-left: rem(25);
        padding-right: rem(25);
    }
}


.works__items {

    @include mq(md) {
        display: flex;
        align-items: center;
    }
}

.works__item {
    @include mq(md) {
        width: 100%;
        max-width: rem(557);
    }
}
