@use "global" as *;
.mv{
    overflow: hidden;
}

.mv {
  width: 100%;
  height: 100vh;
  position: relative;
}

@supports (-webkit-touch-callout: none) {
  .mv {
    min-height: -webkit-fill-available;
  }
}

.mv__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 90;
  line-height: 1;
}

.mv__title ,
.mv__subtitle {
  white-space: nowrap;
  font-family: $base-font-family;
  font-weight: $bold;
}


.mv__title {
  font-size: rem(28);

  @include mq(md) {
    font-size: rem(50);
  }
}

.mv__subtitle {
  display: block;
  font-size: rem(20);
  margin-top: rem(24);
  text-align: center;
  letter-spacing: 0.05em;

  @include mq(md) {
    font-size: rem(25);
  }
}



.slide-img-pc img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}