@use "global" as *;
.mv{
    overflow: hidden;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
  animation: zoomUp 10s linear 0s 1 normal both;
}

.mv {
  position: relative;
}

.mv__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 500;
}

.mv__title {
  font-size: rem(28);
  letter-spacing: 0.05em;

  @include mq(md) {
    font-size: rem(50);
  }
}

.mv__subtitle {
  display: block;
  font-size: rem(24);
  margin-top: rem(24);
  text-align: center;
}