@use "global" as *;

.news__inner {
    padding-left: rem(20);
    padding-right: rem(20);

    @include mq(md) {
        box-sizing: content-box;
        max-width: rem(1042);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.news__item {
    @include mq(md) {
        display: flex;
        align-items: center;
    }
}

.news__date ,
.news__category {
    display: inline-block;
}


.news__date {
    font-size: rem(14);

    @include mq(md) {
        font-size: rem(16);
    }
}

.news__category {
    margin-left: rem(26);
    padding: rem(6) rem(21);
    border: rem(1) solid $white;
    font-size: rem(14);
    line-height: 1.25;font-weight: 500;

    @include mq(md) {
        margin-left: rem(44);
    }
}

.news__text {
    margin-top: rem(17);

    @include mq(md) {
        margin-top: initial;
        margin-left: rem(61);
    }
}

.news__title {
    line-height: 1.45;
}

.news__title:hover {
    text-decoration: underline;
}

.news__btn{
    margin-top: rem(26);
    text-align: center;

    @include mq(md) {
        margin-top: initial;
        margin-left: rem(50);
    }
}

.news__btn-link {
    display: inline-block;
    overflow: hidden;
    padding: rem(9) rem(116);
    border: $white;
    background-color: #333333;
    font-size: rem(20);
    letter-spacing: 0.02em;
    position: relative;

  @include mq(md) {
    padding: 0 rem(26);
    background-color: $white;
}
}

.news__btn-text {
    font-weight: 500;
    @include mq(md) {
        position: relative;
        z-index: 3;
        font-size: rem(16);
        color: $black;
    }
}

.news__btn-text:hover {
    @include mq(md) {
        color: $white;
    }
}ß

.news__btn-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #333;
    width: 100%;
    height: 100%;
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
   transform-origin: right top;
   }

   .news__btn-link:hover:before{
   transform-origin:left top;
   transform:scale(1, 1);
   }