@use "global" as *;

.copyright {
  line-height: rem(35);
  letter-spacing: 0.04em;
  text-align: center;
  margin-top: rem(20);

  @include mq("md") {
    text-align: center;
    margin-top: rem(70);
  }
}

.copyright small {
  font-size: rem(11);

  @include mq("md") {
    font-size: rem(15);
  }
}