@use "global" as *;

.drawer{
  position: relative;
  z-index: 300;
}

.js-drawer-open {
  &.open {
      .drawer__icon-bar1{
          transform: rotate(-45deg);
          top: rem(8);
          background: $white;
      }

      .drawer__icon-bar2 {
          display: none;
      }

      .drawer__icon-bar3 {
          transform: rotate(45deg);
          top: rem(8);
          background: $white;
      }
  }
}


.drawer__icon {
  width: rem(24);
  height: rem(24);
  position: relative;
}

.drawer__icon-bar1,
.drawer__icon-bar2,
.drawer__icon-bar3 {
  position: absolute;
  width: rem(24);
  height: rem(2);
  background: $white;
  border-radius: 2px;
  top: 0;
  left: 0;
  transition: ease .5s;
}

.drawer__icon-bar1 {
  top: 0;
}

.drawer__icon-bar2 {
  top: rem(8);
}

.drawer__icon-bar3 {
  top: rem(16);
}


