@use "global" as *;

.drawer-content {
  background: $sub-color1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 299;
  transform: translateX(105%);

  &.is-active {
      transform: translateX(0);
  }
}

.drawer-content__items {
  padding: rem(160) rem(60) rem(170) rem(60);
  color: $white;
  font-size: rem(14);
}

.drawer-content__item {
  display: flex;
  position: relative;
  padding-top: rem(19);
  padding-bottom: rem(19);
  border-top: 1px dotted #fff;

  &:nth-child(n+5) {
      border-bottom: 1px dotted #fff;
  }

  img {
      width: rem(24);
      height: rem(24);
  }

  a {
      margin-left: rem(14);
  }
  &::after {
      content: "";
      display: inline-block;
      width: rem(14);
      height: rem(14);
      position: absolute;
      background-image: url(../src/images/common/icon-right.svg);
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      right: 0;
  }
}

