@use "global" as *;


.footer {
  background-color: $black;
}

.footer__inner {
  margin-top: rem(40);
  padding-left: rem(19);
  padding-right: rem(19);
  text-align: center;

  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: rem(32);
    padding-right: rem(32);
    margin-top: rem(24);
  }
}

.footer__logo{
  display: inline-block;
  z-index:auto;
  text-align: center;

  @include mq("md") {
    width: rem(70);
  }
}
