@use "global" as *;


.footer {
  background-color: $black;
}

.footer__inner {
  padding: rem(40) 0 rem(19);
  text-align: center;

  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(32) rem(32);
  }
}

.footer__logo{
  display: inline-block;
  z-index:auto;
  text-align: center;
}
