@use "global" as *;

.header {
  height: rem(50);
  background-color: $black;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding-left: rem(22);
  padding-right: rem(22);

  @include mq("md") {
    padding-left: rem(32);
    padding-right: 0;
  }
}