@use "global" as *;

.heading-right {
    position: relative;
    padding-top: rem(49);
    font-size: rem(20);
    text-align: center;

    @include mq(md) {
      font-size: rem(30);
    }
  }

  .heading-right span {
    position: relative;
    z-index: 2;
    font-weight: $normal;
    letter-spacing: 0.03em;
  }

  .heading-right::after {
    content:attr(date-en);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(249, 248, 113, 0.2);
    font-family: $second-font-family;
    font-size: rem(50);
    z-index: 1;
    font-weight: normal;
    letter-spacing: 0.02em;

    @include mq(md) {
      font-size: rem(110);
      top: 6%;
      left: 80%;
    }
  }
