@use "global" as *;

.header {
  height: rem(50);
  background-color: rgba(0, 0, 0, 0.3);
  transition: all .5s;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.change-color {
  background-color: #111;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding-left: rem(22);
  padding-right: rem(18);

  @include mq("md") {
    padding-left: rem(32);
    padding-right: 0;
  }
}