@use "global" as *;

.pc-nav {
  height: inherit;
}

.pc-nav__items {
  display: flex;
  height: inherit;
  align-items: center;
}

.pc-nav__item {
  height: inherit;

    &:not(:last-child) {
      padding: 0 rem(19);
    }
}

.pc-nav__item a{
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;

}

.pc-nav__item--hover a{
  position: relative;

  &::after{
    position: absolute;
    content: "";
    width: rem(70);
    height: rem(1);
    bottom: rem(8);
    background-color: #FFEA2E;

      transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
      transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
      transition: transform 0.3s; /*変形の時間*/
    }

  &:hover::after {
  transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
  }
}


.pc-nav__item--white {
  display: inline-block;
  margin-left: rem(13);
}

.pc-nav__item--white a{
  background-color: $white;
  color: #333;
  padding-right: rem(35);
  padding-left: rem(35);

  &:hover {
    // background-color: #333;
    // transition: ease .3s;
    color: $white;
  }
}

.pc-nav__item--white::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: $white;
  width: 100%;
  height: 100%;
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: translateX(-100%);
}

.pc-nav__item--white:hover:before{
  transform: translateX(0);
}
