@use "global" as *;

.pc-nav {
  height: inherit;
}

.pc-nav__items {
  display: flex;
  height: inherit;
  align-items: center;
}

.pc-nav__item {
  height: inherit;
  padding: 0 rem(16);
  position: relative;

  @include mq(md) {
    padding: 0 rem(18);
}
}

.pc-nav__item a{
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    letter-spacing: 0.02em;
}

  &::after{
    position: absolute;
    content: "";
    width: rem(70);
    height: rem(1);
    bottom: rem(8);
    background-color: #FFEA2E;

      transform: scale(0, 1);     /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
      transform-origin: left top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
      transition: transform 0.3s; /*変形の時間*/
    }

  &:hover::after {
  transform: scale(1, 1);     /*ホバー後、x軸方向に1（相対値）伸長*/
  }

}

.pc-nav__item--white {
  padding-right: rem(35);
  padding-left: rem(35);
  background-color: $white;
  margin-left: rem(16);
}

.pc-nav__item--white a{
  color: #333;
}