@use "global" as *;

.to-top{
  max-width: rem(45);
  width: 100%;
  position: fixed;
  bottom: rem(41);
  right: rem(21);

  @include mq(md) {
    bottom: rem(32);
    right: rem(31);
  }
}

.to-top a {
  background-image: url(/src/images/common/to-top.svg);
  display: inline-block;
  width: rem(45);
  height: rem(45);
  background-size: cover;
  transition: all .5s;

  &:hover{
    background-image: url(/src/images/common/to-top-hover.svg);
    transition: all .5s;
  }

}

rect:hover{
  fill: #333;

}

path:hover {
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
